@font-face {
    font-family: 'Act of Rejection';
    src: url("../fonts/Act_Of_Rejection.ttf");
}

html {
    font-family: 'Act of Rejection';
    font-style: normal;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.button {
    background: rgba(217, 217, 217, 0.35);
    color: white;
    font-size: 50px;
    width: 380px;
    height: 115px;
    left: 543px;
    top: 313px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    background: url("../img/bg3.gif") center center no-repeat fixed;
    background-size: cover;
    width: auto;
    height: 530px;
}